.swiper {
    /* overflow-y: visible; */
    /* margin-bottom: 50px; */
    /* position: relative; */
    /* height: 100%; */
  }
  
/*   
  .swiper-pagination {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -20px;
    overflow: visible;
    color: rgb(251, 154, 36);
    
  }
  .swiper-pagination-bullets {
    color: rgb(251, 154, 36);
    width: 2px;
  }
  
  .swiper-pagination-bullet-active {
    color: rgb(251, 154, 36); */
  /* } */
  